.7_35 { 
	overflow:hidden;
}.e7_35 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}.e7_36 { 
	width:1440px;
	height:57px;
	position:absolute;
	left:0px;
	top:0px;
}.e7_37 { 
	background-color:rgba(14.875000063329935, 0.3718746453523636, 1.2420613202266395, 1);
	width:1440px;
	height:57px;
	position:absolute;
	left:0px;
	top:0px;
}.e7_38 { 
	color:rgba(255, 255, 255, 1);
	width:66px;
	height:29px;
	position:absolute;
	left:1247px;
	top:17px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e7_39 { 
	color:rgba(255, 255, 255, 1);
	width:69px;
	height:29px;
	position:absolute;
	left:1342px;
	top:17px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e7_40 { 
	color:rgba(255, 255, 255, 1);
	width:41px;
	height:29px;
	position:absolute;
	left:1177px;
	top:17px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e7_41 { 
	color:rgba(255, 255, 255, 1);
	width:43px;
	height:29px;
	position:absolute;
	left:1105px;
	top:17px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e7_42 { 
	color:rgba(255, 255, 255, 1);
	width:67px;
	height:29px;
	position:absolute;
	left:901px;
	top:17px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e7_43 { 
	color:rgba(255, 255, 255, 1);
	width:79px;
	height:29px;
	position:absolute;
	left:997px;
	top:17px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e7_44 { 
	color:rgba(255, 255, 255, 1);
	width:157px;
	height:38px;
	position:absolute;
	left:40px;
	top:12px;
	font-family:Italiana;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e7_45 { 
	background-color:rgba(14.875000063329935, 0.3718746453523636, 1.2420613202266395, 1);
	width:1440px;
	height:57px;
	position:absolute;
	left:0px;
	top:967px;
}.e12_3 { 
	color:rgba(0, 0, 0, 1);
	width:129px;
	height:75px;
	position:absolute;
	left:664px;
	top:90px;
	font-family:Italiana;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}