.1_2 { 
	overflow:hidden;
}.e1_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}.e6_6 { 
	background-color:rgba(14.875000063329935, 0.3718746453523636, 1.2420613202266395, 1);
	width:1440px;
	height:57px;
	position:absolute;
	left:0px;
	top:967px;
}.e3_5 { 
	width:1360px;
	height:796px;
	position:absolute;
	left:40px;
	top:114px;
	background-image:url(images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e7_15 { 
	width:1440px;
	height:57px;
	position:absolute;
	left:0px;
	top:0px;
}.e2_3 { 
	background-color:rgba(14.875000063329935, 0.3718746453523636, 1.2420613202266395, 1);
	width:1440px;
	height:57px;
	position:absolute;
	left:0px;
	top:0px;
}.e6_7 { 
	color:rgba(255, 255, 255, 1);
	width:66px;
	height:29px;
	position:absolute;
	left:1247px;
	top:17px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e6_10 { 
	color:rgba(255, 255, 255, 1);
	width:69px;
	height:29px;
	position:absolute;
	left:1342px;
	top:17px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e6_8 { 
	color:rgba(255, 255, 255, 1);
	width:41px;
	height:29px;
	position:absolute;
	left:1177px;
	top:17px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e6_9 { 
	color:rgba(255, 255, 255, 1);
	width:43px;
	height:29px;
	position:absolute;
	left:1105px;
	top:17px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e6_13 { 
	color:rgba(255, 255, 255, 1);
	width:67px;
	height:29px;
	position:absolute;
	left:901px;
	top:17px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e7_24 { 
	color:rgba(255, 255, 255, 1);
	width:79px;
	height:29px;
	position:absolute;
	left:997px;
	top:17px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e6_11 { 
	color:rgba(255, 255, 255, 1);
	width:157px;
	height:38px;
	position:absolute;
	left:40px;
	top:12px;
	font-family:Italiana;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e6_12 { 
	color:rgba(14.875000063329935, 0.3718746453523636, 1.2420613202266395, 1);
	width:979px;
	height:236px;
	position:absolute;
	left:230px;
	top:394px;
	font-family:Italiana;
	text-align:left;
	font-size:200px;
	letter-spacing:0;
}